/* ESTILOS */
.main {
    width: 90%;
    margin: auto;
    text-align: center;
}
.main section h3 {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
}
.articles {
    margin: 10px;
    border: 1px solid #ebebeb;
    color: #666;
}
.articles .articles-general {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.articles picture {
    display: inline-block;
    text-align: center;
}
.articles .articles-general p {
    font-size: 16px;
    width: 30%;
}
.articles .articles-general .descuento {
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}
.articles strong {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
}
.envio {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
    .main section {
        display: flex;
        flex-wrap: wrap;
    }
    .articles {
        width: 47%;
    }
}
@media (min-width: 1200px) {
    .main section {
        justify-content: space-between;
    }
    .articles {
        width: 23%;
    }
    .articles:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition-duration: 1s;
    }
    .articles:hover strong {
        color: #666;
        transition-duration: 1.5s;
    }
    .articles:hover .envio {
        transform: rotate(-90deg);
        transition-duration: 1s;
    }
}